/* global styling properties */

* {
    box-sizing: border-box;
}

/* Root Level Styling properties */

:root {
    --primary_text: #333;
    --secondary_text: white;
    --highlight_color: #800080;
    --highlight_text_Bubble: #452c63;
}


/* Body Style Properties */
body {
  background: #ededed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* header properties start */

header {
    display: flex;
    justify-content: space-between;

}

header h1 {
    color: #CF9FFF;
    font-size: 18px;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;

}

.timer {
    color: var(--primary_text);
}


/* header properties end */

/* initial starting page properties start */

.page-content-start {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin: 30px auto;
    width: 55%;
}

.page-content-start h2 {
    color: var(--primary_text);
    font-size: 40px;
    font-weight: bold;
}

.page-content-start p {
    font-size: 26.6px;
    text-align: center;
    width: 100%;

}

.page-content-start button {
    outline: none;
    border: none;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--secondary_text);
    background-color: var(--highlight_text_Bubble);
    font-size: 20px;
    padding: 10px 15px;
}

/* initial starting page properties end */


/* question and answer page properties start */
.question-content {
    /* flex:1; */
    display: inline;
    flex-wrap: wrap;
    /* align-items: left; */
    justify-content: center;
    margin: 5px auto;
    width: 55%;
}

.question-content  h2 {
    color: var(--primary_text);
    font-size: 35px;
    font-weight: bold;
}

.question-content button {
    outline: none;
    border: none;
    display: inline;
    border-radius: 10px;
    text-align: left;
    justify-content: left;
    color: var(--secondary_text);
    background-color: var(--highlight_text_Bubble);
    font-size: 15px;
    padding: 10px 15px;
}

/* question and answer page properties start */

/* style for answer headers h3 */

.question-content h3 {
    font-size: 30px;
    color: darkgrey;
    border-top: 3px solid darkgrey;

}

/* Style for End Page Starts */

.endpage h2{
    font-size: 45px;
    font-weight: bold;
}

#final-score {
    font-size: 25px;
}


#input-initials {
    font-size: 25px;
    font-weight: normal;
    display: inline;
    flex-wrap: nowrap;
}

#input-box {
    display: inline;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
}

#go-back {
    display:flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-right: 10px;
}

#clear-high-scores {
    display: inline;
    margin-top: 10px;
}

 /* style For Answer Headers ends*/
.button:active {
    cursor: default;
}

.page-content-start button:hover {
    background-color: #CF9FFF;
}

.button:active {
    cursor: default;
}

.question-content button:hover {
    background-color: #CF9FFF;
}